# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\manth\Documents\projects\keyconnect\kcjs\.idea/dataSources/
/dataSources.local.xml
